

<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset4">
    <%= form_for (@user) do |f| %>
      <% if @user.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-error">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
      </div>
     <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
  </ul>
  </div>
  <% end %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %><br/>

      <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>

    <% end %>

  </div>
</div>