@import "bootstrap";

html {
	font-family: Verdana, sans-serif
}
body {
	color: grey
	
}
h1 {
	text-align :center;
}
/*header*/
.header {
  position: relative;
  height:auto;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;

&:hover {
	text-decoration: none;
	color: #fff;
	}	
}
ul{list-style-type: none}