<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
        <div class="container">
          <%= link_to "page of users", root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",    root_path %></li>
              <li><%= link_to "Sign up", new_user_path %></li>
              <li><%= link_to "Show all", users_path %></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>.












    